.flex{
    display: flex;
    &.justify-content-center{
        justify-content: center;
    }
    &.justify-content-evenly {
        justify-content: space-evenly;
    }
    &.justify-content-between {
        justify-content: space-between;
    }
    &.justify-content-around {
        justify-content: space-around;
    }
    &.align-items-center{
        align-items: center;
    }
    &.flex-column{
        flex-direction: column;
    }

    &.flex-wrap{
        flex-wrap: wrap;
    }
    &.flex-nowrap{
        flex-wrap: nowrap;
    }
    &.flex-row{
        flex-direction: row;
    }
    &.flex-row-reverse{
        flex-direction: row-reverse;
    }
    &.flex-column-reverse{
        flex-direction: column-reverse;
    }
}
