@import './vars/vars';
@import './grid_system/grid_system';
@import './flex/flex_classes';
@import './text/text_classes';
@import './utilities/utilities';

.full-all {
    width: 100%;
  height: 100%;
}

.content {
    padding: 16px;
    position: relative;
    z-index: 1;

}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}
