.section-images {
    .part-card-wrapper {
        .image-wrapper {
            min-height: 500px;
            min-width: 500px;
            img {
                object-fit: cover;

            }
        }
    }
}

@media screen and (max-width: 425px) {
    .section-images {
        .part-card-wrapper {
            .image-wrapper {
                min-height: 200px;
                min-width: 200px;
            }
            margin: 10px;
        }
    }
}
