.section-header {
    padding: 0 16px;
    color: #f1f1f1;
    background-color: $maincolor;
        ul {
            list-style: none;
            li {
                margin: 10px;
            }
        }
}
